<div class="col-md-4 offset-md-4 text-center">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.nombre" name="Nombre" placeholder="Nombre" >
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.apellido_p" name="ap" placeholder="Apellido paterno">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.apellido_m" name="am" placeholder="Apellido materno">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.direccion" name="dir" placeholder="Direccion">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.puesto" name="pue" placeholder="Puesto">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.status_u" name="est" placeholder="Estatus">
                </div>
                <div class="form-group">
                    <input type="password" name="pass" [(ngModel)]="pass"  placeholder="Contraseña" >
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="usuarioData.fecha_ingreso" name="fein" placeholder="Fecha de Ingreso">
                </div>
                <button class="btn btn-success" (click)="agregaUsuario()">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
