<div class="col-md-4 offset-md-4 text-center">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Apellido paterno">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Apellido materno">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Direccion">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Puesto">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Estatus">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Contrasenia">
                </div>
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Fecha de Ingreso">
                </div>
                <button class="btn btn-success">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
