<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Transporte</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container">
        <a class="nav-item nav-link active" routerLink="/usuarios-list" routerLinkActive="active">Empleados</a>
        <a class="nav-item nav-link active" routerLink="/vehiculos-get">Vehiculos</a>
        <a class="nav-item nav-link active" href="/mecanicos">Mecanicos</a>
      </div>
    </div>
</div>
</nav>

